<div class="block-signup-form__container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">

                <form name="{{form_name}}"
                      class="block-newsletter-form__form"
                      id="{{form_name}}"
                      sf-schema="schema"
                      sf-form="form"
                      sf-model="model"
                      ng-submit="onSubmit($event)"
                      ng-hide="form_success">

                    <div sf-insert-field="['email']"></div>
                    <div sf-insert-field="['password']"></div>
                    <div sf-insert-field="['first_name']"></div>
                    <div sf-insert-field="['last_name']"></div>

                    <button type="submit"
                            class="btn btn-primary btn-form"
                            ng-bind-html="'form.submit' | translate"></button>

                </form>
            </div>
        </div>
    </div>

</div>
